@import 'mixin.scss';

.header{
    align-items: center;
    background: $primary-color;
    padding-left: 125px;
    &-logo{
        margin-right: 40px;
    }
    &-content{
        padding-left: 85px;
        &__top{
            color: $white-color;
            font-size: 15px;
            padding: 23px 0;
            padding-right: 125px;
            justify-content: space-between;
            .left{
                .email{
                    margin-right: 40px;
                }
            }
            .right{
                .follow{
                    margin-right: 5px;
                }
                img{
                    margin-left: 10px;
                }
            }
        }
        &__bottom{
            padding: 20px 0;
            padding-left: 85px;
            padding-right: 125px;
            background: $white-color;
            font-size: 16px;
            align-items: center;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 7%;
                height: 100%;
                background-color: inherit;
                transform-origin: top left; /* Điểm quay biến đổi skew */
                transform: skewX(-45deg); /* Xén chéo cạnh bên trái vào bên trong */
                z-index: 1; /* Đẩy pseudo-element xuống dưới nền */
                background: $white-color;
            }
            .logo{
                margin-right: 30px;
            }
            .menu{
                flex-wrap: wrap;
                &-item{
                    font-weight: 600;
                    color: #001036;
                    margin:5px 30px 5px 0;
                    transition: .3s all;
                    i{
                        font-size: 10px;
                        vertical-align: middle;
                    }
                    a{
                        color: #001036;
                    }
                    &:hover{
                        cursor: pointer;
                        color: #0B3E79;
                        transition: .3s all;
                    }
                }
            }
            .contact{
                align-items: center;
                white-space: nowrap;
                margin-left: auto;
                &-text{
                    margin-left: 7px;
                    .call{
                        color: #213842;
                        margin-bottom: 5px;
                    }
                    .phone{
                        color: #FC0001;
                        font-size: 19px;
                        font-weight: 700;
                    }
                }
            }

        }
    }
}
